body {
  background-image: linear-gradient(to left,rgba(231, 30, 30, 0.8),rgba(144, 13, 135, 0.508));
  font-family: "Arial", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  color: rgba(56, 20, 189, 0.893);
}

h2 {
  color: rgba(227, 29, 168, 0.893);
}

li {
  font-weight: lighter;
  text-shadow: 1px 1px rgba(237, 140, 13, 0.5);
}

button {
  background-color: rgb(146, 59, 134);
  color: beige;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  padding: 8px 14px;
  font-size: 15px;
  transition: 0.3s;
}

button:hover {
  background-color: rgb(103, 23, 95);
  transform: scale(1.05);
}

.nav-link.active {
  color: skyblue !important;
  font-weight: bold;
  text-decoration: underline;
}


.card {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.btn{
  width:25%;
  margin: auto;
}
